<h1 class="mb-4"><%= t('form.password_update') %></h1>
<%= form_with model: @user, url: password_reset_path, method: :patch do |form| %>
  <%= form.hidden_field :password_reset_token, value: @user.password_reset_token %>
  <%= form.hidden_field :email, value: @user.email %>

  <div class = "mb-3 row">
    <div class = "col-sm-2 col-form-label">
      <%= form.label :password, t('form.new_password')%>
    </div>

    <div class = "col-sm-10">
      <%= form.password_field :password, class: 'form-control form-control-lg', id: 'password_field' %>
    </div>
  </div>

  <div class = "mb-3 row">
    <div class = "col-sm-2 col-form-label">
      <%= form.label :password_confirmation,t('form.password_confirmation')%>
    </div>

    <div class = "col-sm-10">
      <%= form.password_field :password_confirmation, class: 'form-control form-control-lg', id: 'password_confirmation_field' %>
    </div>
  </div>
  <p><%= form.submit(t('form.update_password'), id: 'btn_submit_forgot', class: 'btn btn-primary') %></p>
<% end %>