<div id = 'all-content'>
  <div class = 'row filter'>
    <div class = 'col-md-8'>
      <h1><%= t('index.search') %>:</h1>
      <%= form_with url: games_search_path do |form| %>
        <div class = "mb-3 row">
          <div class = "col-sm-2 col-form-label">
            <%= form.label :name, t('index.name')%>
          </div>
          <div class = "col-sm-10">
            <%= form.text_field :name, class: 'form-control w-25', id: 'name_field' %>
          </div>
        </div>
        <%= form.submit(t('.find'), id: 'btn_submit', class: 'btn btn-primary') %>
      <% end %>
    </div>
  </div>
  <h3><%= t('.result')%>: "<%= params[:name]%>"</h3>
  <div id = 'game-list'>
    <% @games.each do |game| %>
      <div class="card mb-3" style="max-width: 1000px;", id="card">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="<%= polymorphic_url(game.avatar) %>" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"><%= link_to "#{game.name}", "games/#{game.id}" %></h5>
              <p class="card-text", id="game_desription"><%= game.description.truncate_words(30)%></p>
            </div>
              <small>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><%= t('.platforms') %>: <%= game.platforms.join(', ')%></li>
                  <li class="list-group-item"><%= t('.genres') %>: <%= game.genres.join(', ')%></li>
                  <li class="list-group-item"><%= t('.release_date') %>: <%= game.release_date.to_s[0..-14]%></li>
                </ul>
              </small>
              <div class= 'wishlist-buttons' id = 'wishlist-button_<%=game.id%>'>  
                <% if user_signed_in? %>
                  <% if current_user.wishlist&.include?(game.id)%>
                    <%= button_to t('.wishlist_delete'), games_delete_game_path, params: { game: game.id }, class: 'btn btn-danger'%>
                  <% else %>
                    <%= button_to t('.wishlist_add'), games_add_game_path,params: { game: game.id }, class: 'btn btn-primary'%>
                  <% end %>
                <% else %>
                <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="no">
                  <button class="btn btn-primary" style="pointer-events: none;" type="button" disabled><%= t('.wishlist_add') %></button>
                </span>
                <% end %>
              </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>