<div class ='row game-info'>
  <h1><%= @game.name%></h1>
    <div class ='col-md-4'><%= image_tag(@game.avatar)%></div>
    <div class ='col-md-8'>
      <p><%= @game.description %></p>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><%= t('.platforms') %>: <%= @game.platforms.join(', ')%></li>
        <li class="list-group-item"><%= t('.genres') %>: <%= @game.genres.join(', ')%></li>
        <li class="list-group-item"><%= t('.release_date') %>: <%= @game.release_date.to_s[0..-14]%></li>
      </ul>
      <div class= 'button' id = 'wishlist-button_<%=@game.id%>'>  
        <% if user_signed_in? %>
          <% if current_user.wishlist&.include?(@game.id)%>
            <%= button_to t('.wishlist_delete'), games_delete_game_path, params: { game: @game.id }, class: 'btn btn-danger'%>
          <% else %>
            <%= button_to t('.wishlist_add'), games_add_game_path,params: { game: @game.id }, class: 'btn btn-primary'%>
          <% end %>
        <% else %>
        <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="no">
          <button class="btn btn-primary" style="pointer-events: none;" type="button" disabled><%= t('.wishlist_add') %></button>
        </span>
        <% end %>
      </div>
    </div>
</div>
<h3 class ='text-center'><%= t('.screenshots') %></h3>
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <% @game.screenshots.drop(1).each_with_index do |n,index|%>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="<%=(index+1)%>" aria-label="<%="Slide #{(index + 1)}" %>"</button>
    <% end %>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100"  src="<%= polymorphic_url(@game.screenshots[0]) %>">
    </div>
    <% @game.screenshots.drop(1).each do |n|%>
      <div class="carousel-item">
        <img class="d-block w-100"  src="<%= polymorphic_url(n) %>">
      </div>
    <% end %>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"  data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"  data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden"></span>
  </button>
</div>
